apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ .Values.tenant.instance }}
  namespace: argocd
  labels:
    tenant: {{ .Values.tenant.name }}
    owner: "default"

spec:
  description: Project for {{ .Values.tenant.name }}

  destinations:
  - namespace: {{ .Values.tenant.instance }}
    server: https://kubernetes.default.svc 

  clusterResourceWhitelist:
    - group: ""
      kind: ""

  namespaceResourceWhitelist:
    - group: ""
      kind: "Endpoints"
    - group: ""
      kind: "Pod"
    - group: ""
      kind: "ConfigMap"
    - group: ""
      kind: "Service"
    - group: "gateway.networking.k8s.io"
      kind: "HTTPRoute"
    - group: ""
      kind: "Secret"
    - group: ""
      kind: "ServiceAccount"
    - group: "discovery.k8s.io"
      kind: "EndpointSlice"
    - group: "apps"
      kind: "Deployment"
    - group: "apps"
      kind: "ReplicaSet"
    - group: "apps"
      kind: "StatefulSet"
    - group: "networking.k8s.io"
      kind: "NetworkPolicy"
    - group: "rbac.authorization.k8s.io"
      kind: "Role"
    - group: "rbac.authorization.k8s.io"
      kind: "RoleBinding"
    - group: "batch"
      kind: "Job"
    - group: "batch"
      kind: "CronJob"
    - group: "policy"
      kind: "PodDisruptionBudget"

  sourceRepos:
  {{- range .Values.tenant.repos }}
    - {{ . | quote }}
  {{- end }}
