apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: plt-cluster-resources
  namespace: argocd
spec:
  description: Project for platform-managed cluster resources.

  clusterResourceWhitelist:
  - group: '*'
    kind: '*'

  destinations:
  - namespace: '*'
    server: '*'

  namespaceResourceWhitelist:
  - group: '*'
    kind: '*'

  sourceRepos:
  {{- range .Values.platform.permittedRepos }}
    - {{ . | quote }}
  {{- end }}