apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: plt-tenant-resources
  namespace: argocd
spec:
  description: Project for infrastructure resources provisioned for each tenant.

  clusterResourceWhitelist:
  - group: '*'
    kind: '*'

  destinations:
  - namespace: '*'
    server: '*'

  namespaceResourceWhitelist:
  - group: '*'
    kind: '*'

  sourceRepos:
  {{- range .Values.platform.permittedRepos }}
    - {{ . | quote }}
  {{- end }}
