platform:
  # -- Google Project ID where the management cluster is provisioned
  projectID: ""
  # -- The namespace that contains the KSA Argo CD uses, which is mapped to a GCP Service Account via Workload Identity
  workloadIdentityNamespace: ""
  # -- Root Application that recursively syncs all Argo CD resources from the `k8s/` folder in the `platform-hub` repo
  rootApp:
    name: plt-root-application
    repoURL: https://github.com/rezakaramad/argocd-feature-branches
    targetRevision: main
    path: k8s/
  # -- Scopes and restricts what the root Application is allowed to manage
  rootAppProject:
    name: plt-root-application
    sourceRepos:
      - https://github.com/rezakaramad/argocd-feature-branches
      - https://github.com/rezakaramad/charts
  # -- Used by Application / ApplicationSet that deploys namespace-scoped resources for each tenant
  tenantProject:
    name: plt-tenant-builder
    sourceRepos:
      - https://github.com/rezakaramad/argocd-feature-branches
      - https://github.com/rezakaramad/charts 
  # -- Used by Application / ApplicationSet that deploys cluster resources
  clusterProject:
    name: plt-cluster-builder
    sourceRepos:
      - https://github.com/rezakaramad/argocd-feature-branches
      - https://github.com/rezakaramad/charts
  argocd:
    server:
      backendTLSPolicy:
        enabled: true
        targetRefs:
          - group: ""
            kind: Service
            name: argocd-server
        validation:
          hostname: argocd-server.argocd.svc.cluster.local
          caCertificateRefs:
            - group: ""
              kind: ConfigMap
              name: argocd-ca


argocd:
  commitServer:
    enabled: true
  server:
    metrics:
      enabled: true
    httproute:
      enabled: true
      parentRefs:
        - name: default
          namespace: kube-system
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: argocd-server
              port: 443
