platform:
  # -- Google Project ID where the management cluster is provisioned
  projectID: ""
  # -- The namespace that contains the KSA Argo CD uses, which is mapped to a GCP Service Account via Workload Identity
  workloadIdentityNamespace: ""
  # -- Root Application that recursively syncs all Argo CD resources from the `k8s/` folder in the `platform-hub` repo
  argocd:
    server:
      backendTLSPolicy:
        enabled: true
        targetRefs:
          - group: ""
            kind: Service
            name: argocd-server
        validation:
          hostname: argocd-server.argocd.svc.cluster.local
          caCertificateRefs:
            - group: ""
              kind: ConfigMap
              name: argocd-ca


argocd:
  commitServer:
    enabled: true
  server:
    metrics:
      enabled: true
    httproute:
      enabled: true
      parentRefs:
        - name: default
          namespace: kube-system
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: argocd-server
              port: 443
