apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: plt-applications
  namespace: argocd

spec:
  description: Project for Argo CD system resources managed by the root app-of-apps.

  destinations:
  - namespace: 'argocd'
    server: https://kubernetes.default.svc

  namespaceResourceWhitelist:
  - group: 'argoproj.io'
    kind: 'AppProject'
  - group: 'argoproj.io'
    kind: 'Application'
  - group: 'argoproj.io'
    kind: 'ApplicationSet'

  sourceRepos:
    - {{ .Values.platform.appsFolder.repoURL | quote }}